@import "../../../styles/settings.scss";

.root {
  background-color: $color-secondary;
  border-radius: 3px;
  padding: 40px 30px;
  color: $color-light;
  font-size: 1.5rem;
  max-width: 600px;
  margin: 0 auto;

  button {
    transition: $transition;
    background-color: $color-decorator;
    color: $color-light;
    margin-top: 30px;
    float: right;
    &:hover {
      background-color: lighten($color-decorator, 10%);
    }
    span {
      font-size: 1.5rem;
    }
  }
}
