@import "../../../styles/settings.scss";

.root {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.4rem;
}

.head {
  display: flex;
  justify-content: space-between;

  button,
  button:hover {
    background-color: $color-decorator;
    transition: $transition;
    &:hover {
      opacity: 0.7;
    }
  }

  a {
    :only-child {
      font-size: 2rem;
      color: $color-light;
    }
  }
}

.postBody {
  border-bottom: 1px solid $color-light;
  text-align: justify;

  .details {
    text-align: right;
  }

  small {
    opacity: 0.4;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

h3 {
  font-size: 2rem;
}