@import "../../../styles/global.scss";
@import "../../../styles/settings.scss";

.root,
.rootMobile {
  background-color: $color-secondary;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 10px 20px;

  a {
    color: $color-light;
    font-weight: 600;
    transition: $transition;
    margin: 0 20px;
    :only-child {
      font-size: 2.5rem;
    }
    &:hover {
      text-decoration: none;
      color: $color-light;
      opacity: 0.5;
    }
  }
}

.root {
  box-shadow: 0px 2px 4px 2px $color-secondary;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button,
  button:hover {
    background-color: $color-decorator;
    color: $color-light;
    transition: $transition;
    &:hover {
      opacity: 0.7;
    }
  }
}

.rootMobile {
  position: fixed;
  border-bottom: 1px solid $color-light;
  height: 60px;
  width: 100vw;
  overflow: hidden;
  transition: $transition-open-menu;
  z-index: 2;

  button,
  button:hover {
    color: $color-light;
  }
}

.panel {
  a {
    padding: 10px 0px;
    float: right;
  }
}

.active {
  height: 230px;

  .list {
    display: block;
  }
}

.list {
  display: none;
}
