@import "../../../styles/settings.scss";

.root {
  position: relative;
}

.customContainer {
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 576px) {
  .customContainer {
    padding-top: 70px;
  }
}
